{% load static %} 

<html>
    <head>
        <title>Django Blog</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <a href="{% url 'home' %}">Home</a>|<a href="{% url 'post_new' %}">+New post </a>
        <h1>Django blog</h1>

        {% if user.is_authenticated %} 
        <h2>Hi {{user.username}}!</h2>
        <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %} 
        <h2>Your are not logged in !</h2> 
        <a href="{% url 'login' %}">Log In</a>
        <p>if not a member yet <a href="{% url 'signup' %}">Sign Up</a></p>
        
        {% endif %}

        {% block content %} 
        {% endblock content %}
    </body>
</html>